#root {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: bisque;
  font-family: 'Dancing Script', cursive;
}

.logo{
  margin: 0;
}

.navegation{
  display: flex;
  align-items: center;
  gap: 5px;
}

.navegation a{
  text-decoration: none;
}
